# Virtual environments
.venv/

# Python
__pycache__/

# IDEs
.idea/
.vscode/

# Ignore logs
*.log
logs/

# Environment variables
.env

# Node modules
node_modules/

# Data
backend/data/*
backend/data/**/*.wav

# Exception for examples data files
!backend/data/videos.json
!backend/data/learning_[1-4]
