# Virtual environments
.venv/

# Python
__pycache__/

# IDEs
.idea/
.vscode/

# Ignore logs
*.log
logs/

# Environment variables
.env

# Data
backend/data/*
# Exception for examples data files
!backend/data/videos.json
!backend/data/learning_[1-4]/

# Node modules
node_modules/