# Virtual environments
.venv/

# Python
__pycache__/

# IDEs
.idea/
.vscode/

# Ignore logs
*.log
logs/

# Data
backend/data/*
# Exception for examples data files
!backend/data/videos.json
!backend/data/learning_1/

# Node modules
node_modules/